In [1]:
# Loading Libraries
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [2]:
# Load the dataset
cust_data = pd.read_csv('Costomer+OrderForm.csv')

In [3]:
cust_data.shape

(300, 4)

In [4]:
# description of dataset
cust_data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [5]:
# checking for null values
cust_data.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [6]:
# Getting count of categorical data i.e., Error free and Defective from dataset
error_free_Phillippines, defective_Phillippines = cust_data.Phillippines.value_counts()
error_free_Indonesia, defective_Indonesia = cust_data.Indonesia.value_counts()
error_free_Malta, defective_Malta = cust_data.Malta.value_counts()
error_free_India, defective_India = cust_data.India.value_counts()

In [7]:
# Converting the count of data into 2D array
obs = np.array([[error_free_Phillippines, error_free_Indonesia, error_free_Malta, error_free_India],
               [defective_Phillippines, defective_Indonesia, defective_Malta, defective_India]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [8]:
chi2, pvalue, dof, ex = chi2_contingency(obs)

In [9]:
α = 0.05


if pvalue <= α:
   print("Rejecting null hypothesis")
   print("Conclusion: Customer order forms defective %  varies by centre")
else:
    print("Fail to reject null hypothesis")
    print("Conclusion: Customer order forms defective %  does not varies by centre")

Fail to reject null hypothesis
Conclusion: Customer order forms defective %  does not varies by centre